// 所有非功能性属性放这里

// 登录、注册背景图
.bg-sign {
    background: url(../assets/login.jpg) no-repeat;
    background-size: cover;
}

// header 部分
.header-panel-css {
    transition: .2s all;
    transform: scale(0);
    transform-origin: right top;
}
.header-panel-show {
    transform: scale(1);
}

// 去除100% - 50px后高度
.h-main {
    height: calc(100% - 50px);
}

// 遮罩背景
.bg-black-opacity {
    background: rgba(55, 55, 55, 0.6);
}