// 这里是写整个项目复用多次的属性
html, body {
    height: 100%;
}

// 所有input去除outline
input {
    outline: none;
    &:active, &:focus {
        outline: none;
    }
}

// 文字强制换行
.word-break {
    word-wrap: break-word;
}

// 文字溢出处理
.text-hidden {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

// UI层级权限设置
.zIndex-9 {
    z-index: 9;
}
.zIndex-10 {
    z-index: 10;
}

// 过渡两秒
.transition {
    transition: .2s all;
}

// 无法选择字体
.noselect {
    user-select: none;
}

// 默认阴影
.shadow-grey {
    box-shadow: 0 0 8px #ccc;
}
.shadow-grey-inset {
    box-shadow: 0 0 8px #ccc inset;
}

// hover阴影
.shadow-hover {
    transition: .3s all;
    &:hover {
        transform: translateY(-5%);
        box-shadow: 0 0 40px #ccc;
    }
}

// 打开面板特效-左右抖动
.open-panel {
    transform-origin: right center;
    animation: moveX .7s;
}
@keyframes moveX {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0);
    }
}

// 打开面板特效-上下抖动
.open-pull {
    animation: moveY .7s;
}
@keyframes moveY {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}